:root {
    --navbar-height: 56px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    /* background-image: url(./Images/dd.png); */
    background-repeat: no-repeat;
    color: #212427;
    overflow-x: hidden;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.highlight {
    background-color: yellow;
    display: inline-block;
}

.navbar {
    height: var(--navbar-height);
}

.socials-bar {
    font-size: 1.38rem;
    position: fixed;
    left: 20px;
    text-align: center;
    top: 42%;
    width: 40px;
}

.socials-bar a {
    color: rgb(50, 50, 50);
    top: 0;
    transition: top ease 0.3s;
    position: relative;
    padding: 10px 0;
}

.socials-bar a:hover {
    top: -5px;
}

.nav-item a {
    color: #212427;
}

.main {
    height: calc(100vh - var(--navbar-height));
    margin-top: 3rem !important;
}

.main .text {
    padding-left: 14%;
    margin-top: 6%;
}
 
.main h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.44rem;
}

.main p {
    font-size: 1.13rem;
}

#portrait {
    border-radius: 50%;
    width: 390px;
    height: 390px;
}

#arrow-down {
    animation: arrowDown 3s infinite;
    bottom: 28px;
    font-size: 24px;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translateX(-50%, -50%);
}

@keyframes arrowDown {
    0% { bottom: 28px; }
    50% { bottom: 15px; }
    100% { bottom: 28px; }
}

#about {
    height: 96vh;
    padding-top: 8rem;
    margin-left: 14%;
}

#about h2 {
    background: linear-gradient(to left, white 50%, yellow 50%) right;
    background-size: 200%;
    display: inline-block;
    transition: 0.4s ease-in;
}

#about p {
    width: 80%;
}

#projects {
    height: 100vh;
    transition: ease-in 0.4s;
    margin: 0 10% 0 14%;
}

.programming-language span {
    color: rgb(101, 101, 255);
    font-size: 14px;
    padding-right: 0.8rem;
    width: 100px;
}

#projects h2 {
    padding-top: 5%;
}

.project-card {
    border-radius: 8px;
    transition: 0.3s ease;
    top: 0;
    position: relative;
}

.project-card:hover {
    top: -8px;
}

.project-card .card-body {
    padding: 24px;
}

.project-card i {
    font-size: 2.5rem;
}

.project-links {
    bottom: 16px; 
    position: absolute; 
    padding-right: 24px;
    width: 100%; 
}

.project-links .view-btn-container {
    padding: 0 0.25rem;
}

.project-links i {
    font-size: 1rem;
}

.project-links .btn-outline-dark:hover {
    background-color: white !important;
    color: #212529 !important;
}


@media (max-width: 575.98px) {
    .main, #about, #projects {
        margin-left: 8%;
        margin-right: 8%;
    }

    .socials-bar {
        display: none !important;
    }

    .main {
        margin-top: 3rem !important;
    }

    .main .text {
        order: 2;
        padding: 9%;
        margin-top: -10%;
    }

    .main h1 {
        font-size: 2.5rem;
    }

    .main .portrait-container {
        order: 1;
    }

    #portrait {
        height: 280px;
        width: 280px;
    }

    #arrow-down {
        display: none;
    }

    #about {
        height: 100vh;
        padding-top: 5rem;
    }

    #about p {
        width: 100%;
    }

    .project-card .card-body {
        padding-bottom: 8px;
    }

    .project-links {
        position: relative;
        padding-right: 0;
        margin-right: 0;
    }

    .project-links .view-btn-container {
        padding-left: 12px;
    }

    .project-links #view-btn {
        margin-top: 0.5rem;
    }
}

@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}
